@{
    ViewData["Title"] = "Home";
}
@section Scripts {
    <script src="wwwroot/client/dist/runtime.js"></script>
    <script src="wwwroot/client/dist/polyfills.js"></script>
    <script src="wwwroot/client/dist/styles.js"></script>
    <script src="wwwroot/client/dist/vendor.js"></script>
    <script src="wwwroot/client/dist/main.js"></script>
}

<div class="text-center">
    <h2 class="display-4">Hello World</h2>
</div>
<app-root></app-root>

